
h1,h2,body,button{
    font-family: 'Comfortaa', cursive;    
}

.navbar, .btn{
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #CB356B,#BD3F32); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #CB356B,#BD3F32); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #CB356B,#BD3F32); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #CB356B,#BD3F32); /* Standard syntax */
}

.navbar{
    font-size: 1.5rem;
}

.card{
    border-radius: 10px;
}

.page{
    margin: auto;
    width: 10%;
}
