{% extends "base.html" %}

{% block content %}
<div class="card text-center">
        <div class="card-header">
          Create Post
        </div>
        <div class="card-body">
          <form action="" method="post" enctype="multipart/form-data">
                <div class="form-group">
                {% csrf_token %}
                <!-- <table>
                {{ form.as_table }}
                </table> -->
                  {% for field in form %}
                  {% if not field.help_text == "a"  %}
                      <div class="form-group">
                          {% if field.errors %}
                              <ul class="form-errors">
                              {% for error in field.errors %}
                                  <li><strong>{{ error|escape }}</strong></li>
                              {% endfor %}
                              </ul>
                          {% endif %}
                          {{ field.label_tag }} {{ field }} 
                          {% if field.help_text %}<div class="form-helptext">{{ field.help_text }}</div>{% endif %}
                      </div>
                      {% endif %}
                  {% endfor %}
                <input name="user" type="hidden" value="{{user.id}}"/>
                <input type="submit" value="Submit" class="btn btn-primary"/>
                </div>
            </form>
        </div>
      </div> 
{% endblock %}